body{
  text-align: center;
  background-color: #212331;
  color: #FFFFFF;
  max-width: 800px;
  margin:auto;
}
#header{
  margin: 5px;
}
#inputsRow{
  margin: auto;
}
.inputsHeaders{
  width: 190px
}
.inputs{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 300px;
}
.jumbotron{
  margin-top: 10px;
  color:black;
  padding: 0px;
}
